<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>filename_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,771},{259,259}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,391},{259,259}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,785},{253,259}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{559,391},{253,259}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{253,265}}</string>
                <key>offset</key>
                <string>{-3,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{559,384},{253,265}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1032},{247,259}}</string>
                <key>offset</key>
                <string>{-3,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{562,390},{247,259}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1546},{249,249}}</string>
                <key>offset</key>
                <string>{-2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{562,399},{249,249}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1281},{253,253}}</string>
                <key>offset</key>
                <string>{-3,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,395},{253,253}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{255,259}}</string>
                <key>offset</key>
                <string>{-3,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{558,392},{255,259}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,512},{257,265}}</string>
                <key>offset</key>
                <string>{-3,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{557,389},{257,265}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{259,273}}</string>
                <key>offset</key>
                <string>{-3,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{556,385},{259,273}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,275}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{556,383},{259,275}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{257,275}}</string>
                <key>offset</key>
                <string>{-3,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{557,384},{257,275}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,261},{249,273}}</string>
                <key>offset</key>
                <string>{-3,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{561,386},{249,273}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1293},{245,253}}</string>
                <key>offset</key>
                <string>{-2,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{564,396},{245,253}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1295},{249,249}}</string>
                <key>offset</key>
                <string>{-3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,400},{249,249}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1295},{251,251}}</string>
                <key>offset</key>
                <string>{-3,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,397},{251,251}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1040},{253,253}}</string>
                <key>offset</key>
                <string>{-3,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,394},{253,253}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{255,257}}</string>
                <key>offset</key>
                <string>{-3,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{558,390},{255,257}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,524},{259,261}}</string>
                <key>offset</key>
                <string>{-3,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{556,387},{259,261}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,263},{259,265}}</string>
                <key>offset</key>
                <string>{-3,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{556,385},{259,265}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
            <key>filename_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{259,265}}</string>
                <key>offset</key>
                <string>{-3,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{556,384},{259,265}}</string>
                <key>sourceSize</key>
                <string>{1377,831}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:085bdc5c686bd1185c880a0bfbbac8d2$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
